body {
    position: absolute;
    left: 25%;
    padding: 40px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    text-align: center;
    font-style: normal;
    color: #7F7F7F;
    width: 483px;
    height: 761px;
    border-radius: 20px;
}

.logo {
    float: left;
}

.phone {
    position: unset;
    float: right;
}

.icons {
    margin: 15px 0 25px;
}

table {
    width: -webkit-fill-available;
    line-height: 2rem;
}
tbody {
    line-height: 2rem;
}

.about p {
    font-weight: 300;
    font-size: 22px;
    align-items: center;
    display: unset;
    margin-left: 10px;
}
.sc {
    text-align: right;
    font-weight: 600;
    color: #3E3E3E;
}

hr {
    border: 0.1px solid #D7D7D7;
}

h3 {
    text-align: center;
    font-weight: 300;
    font-size: 20px;
}

.info { 
    margin-top: 30px;
}

.content {
    display: inline-grid;
    text-align: justify;
    width: 480px;
}

.right {
    float: right;
    font-weight: 600;
    line-height: 2rem;
}

.left {
    float: left;
}

.about {
    border: 2px solid #F3F3F3;
    box-sizing: border-box;
    padding: 15px 10px;
}

.total {
    background: #F3F3F3;
    padding: 10px;
}

.sum {
    float: left;
    font-weight: 600;
    font-size: 18px;
    color: #3E3E3E;
}

.price {
    float: right;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    color: #306D00;
}

.icons img {
    margin: 5px;
}

ul {
    list-style: none;
}
footer {
    text-align: center;
}

.center {
    text-align: -webkit-center;
}

footer p {
    font-size: 12px;
    color: #C2C2C2;
    text-align: justify;
}

button {
    background: #61259E;
    border: 0.5px solid #7F7F7F;
    box-sizing: border-box;
    border-radius: 5px;
    margin-bottom: 40px;
    width: 166px;
    height: 39px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}


/* RESPONSIVE */

@media (min-width: 375px) {
    body {
        width: auto;
        left: 0;
    }

    .all {
        position: fixed;
        left: 5%;
        width: 315px;
    }

    .content {
        width: 315px;
    }

    h3 {
        width: 315px;
        margin-top: 30px;
    }

    .about {
        width: 315px;
    }

    .total {
        width: 295px;
    }

    .union {
        width: 315px;
        margin-top: -1px;
    }
    .center { 
        text-align: center;
        width: 315px;
    }

    footer p {
        text-align: center;
        line-height: 1.2rem;
    }

    .res {
        margin-left: -15px;
    }
} 

@media (min-width: 425px) {
    body {
        left: 0;
        position: fixed;    
    }

    .all {
        left: 6%;
        width: auto;
    }

    .content {
        width: 400px;
        margin-top: 30px;
        text-align: center;
    }

    h3 {
        width: 400px;
    }

    .about, .union{
        width: 400px;
        text-align: initial;
    }

    .total {
        width: 380px;
    }

}